header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    height:50px;
    box-shadow: 0px 0px 4px 0px #d9dada;
    div:nth-child(1){
        display: flex;
        align-items: center;
        span{
            color:#d9dada;
            margin: 0px 10px 0px 10px;
            cursor:pointer;
            outline:none;
        }
        span:hover{
            color:#888;
        }
    }
    div:nth-child(2){
        display: flex;
        align-items: center;
        span{
            margin-right: 10px;
            color:#d9dada;
            cursor:pointer;
            font-size: 1.2rem;
            outline:none;
            .logout{
                border-radius: 15px;
                background: #17A2B8;
                color:#fff;
                width:150px;
                height:35px;
                border:none;
                outline:none;
            }            
        }
        span:hover{
            color:#17A2B8;
        }
    }
}

.selected{
    color:#17A2B8!important;
    font-weight: bold;
}
@media screen and (max-width:768px){
    header{
        display: none;
    }

}